__pycache__/
*.so
.Python
env/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

.ipynb_checkpoints/

data/raw/
data/lakehouse/
data/streaming_checkpoint/
data/streaming_source/
*.parquet
*.delta

models/
*.pkl
*.joblib

*.log
logs/

.DS_Store
Thumbs.db

spark-warehouse/
metastore_db/

